.edit-accounts-popup {
  input[data-type="search"] {
    width: 400px;
    margin-bottom: 10px;
  }
  .info {
    margin-bottom: 10px;
  }
  .table-empty {
    padding: 30px;
    text-align: center;
  }
}
